# ignore everything in these folders
data/Results/*
data/processed/*

# but keep the .gitkeep placeholders
!data/Results/.gitkeep
!data/processed/.gitkeep

# also ignore Jupyter checkpoints and caches everywhere
**/.ipynb_checkpoints/
**/__pycache__/

